<!-- <button 
    (click)="login()"
    class="btn btn-primary">
    Login with Google
</button> -->
<!-- 
<div *ngIf="!loggedIn">
    <asl-google-signin-button
        (click)="login()"
        theme="outline"
        size="large">
    </asl-google-signin-button>
</div>

<div *ngIf="loggedIn">
    <i class="fa-solid fa-user"></i>
    {{ user.name }}
    <button 
        (click)="logout()"
        class="btn btn-danger btn-sm">
        Sign out
    </button>
</div> -->

<!-- <div id="google-signin-button"></div> -->