<div class="row">
    <div class="col-md-6">
        <form #form="ngForm" (ngSubmit)="save(form.value)" >
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is Required!
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input required #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control">
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    Price is Required!
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select required #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" >
                    <option value="--None--"></option>
                    <option *ngFor="let category of categories$ | async" [value]="category.key">
                        {{ category.name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is Required!    
                </div>    
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input required #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    Image URL is Required!    
                </div>
            </div><br>
            <button class="btn btn-primary">Save</button>
            <button type="button" (click)="delete()" class="btn btn-danger gap">Delete</button>
        </form>
    </div>
    <div class="col-md-6">
        <product-card [product]="product" [show-actions]="false"></product-card>
    </div>
</div>
